:root {
    --primary: #Bc3Bff;
    --light:#EEEEEE;
    --dark:#212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
    height: 65px;
}

h1 {
    color: var(--dark);
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h3 {
    padding-bottom: 10px;
}

blockquote {
    color: var(--primary)
}

footer {
    background-color: var(--light);
    padding-left: 10px;
    padding-bottom: 35px;
}

.container {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu {
    display: none;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a {
    color: #FFF;
    margin: 0 16px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 99px;
}

.menu a.is-active, .menu a:hover {
    background-color: var(--primary);
}

#bogs {
    color: var(--primary);
}

#page {
    padding-top: 100px;
    padding-left: 75px;
    
}

#mySidebar {
    padding-top: 150px;
    padding-left: 50px;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: var(--light);
    overflow-x: hidden;
    
}

.sidebar {
    height: 100%;
    width: 0; 
    position: fixed; 
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: 0.5s;
}

.sidebar a {
    padding: 8px 8px 8px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#grid {
    background-color: var(--light);
    display: grid;
    width: auto;
    margin: auto;
    grid-template-columns: 70vw 35vw;
    grid-template-rows: 45vh 40vh;
    grid-gap: 25px;
    grid-template-areas: 
    "top" "top"
    "bottomLeft" "bottomLeft";
    border: none;
}

.fa {
    padding: 20px;
    font-size: 65px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: var(--light);
    border-radius: 5%;
}

.fa-twitter {
    background: #55ACEE;
    color: var(--light);
    border-radius: 5%;
}

.fa-linkedin {
    background: #0072B1;
    color: var(--light);
    border-radius: 5%;
}


  

@media(max-width: 390px) {

    #grid {
        display: grid;
        width: auto;
        margin: auto;
        grid-template-columns: auto;
        grid-template-rows: auto;
    }

    #page {
        position: relative;
        padding-top: 100px;
        padding-left: 10px;
        left: 0;
    }

    #homeImage {
        height: auto;
        width: 365px;
        padding-top: 35px;
    }

    #mySidebar {
        padding-top: 0px;
        padding-left: 50px;
        height: 100%;
        width: 200px;
        position: relative;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: var(--light);
        overflow-x: hidden;
    }

    .sidebar {
        height: 100%;
        width: 0; 
        position: relative;
        z-index: 1;
        top: 0;
        bottom: 0;
        background-color: #111; 
        overflow-x: hidden; 
        padding-top: 60px; 
        transition: 0.5s;
    }

    .sidebar a {
        padding: 8px 8px 8px;
        text-decoration: none;
        font-size: 16px;
        color: #818181;
        display: flex;
        transition: 0.3s;
    }

    .menu {
        display: flex;
        padding-right: 100px;
    }

    .menu a {
        padding: 5px 5px;
    }
      
      

}

@media(min-width: 901px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
    }

}

@media(min-width: 600px) and (max-width: 900px) {
    .hamburger {
        display: none;
    }
    .menu {
        display: flex;
    }
    
}